.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  font-size: 120pt;
}

.App-name {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  display: flex;
  font-size: calc(2em + 2vmin);
  text-transform: uppercase;
  will-change: transform, opacity;
  font-weight: 800;
  color: palevioletred;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #f0f0f0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
